In [161]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

# data = pd.read_csv('train.csv')
# data = data.drop(['PassengerId','Name','Cabin'],axis=1)
# le = preprocessing.LabelEncoder()
# le.fit(data.Sex)
# data.Sex = le.transform(data.Sex)
# # label = data.Survived
# age = pd.Series(data.Age)
# isna = age.isna()
# isna = isna[isna==True]
# ind = isna.keys()
# #drop data with nan age
# data = data.drop(index = ind, axis = 0)
# embarked = pd.Series(data.Embarked)
# embarked = embarked.isna()
# embarked = embarked[embarked==True]
# ind = embarked.keys()
# data = data.drop(index = ind, axis = 0)
# dummies = pd.get_dummies(data.Embarked)

# data = pd.concat([data,dummies],axis=1)
# #drop one of dummy var to avoid dummy trap
# data = data.drop(['Embarked','C'],axis = 1)
# ticket = pd.Series(data.Ticket)
# ticket = ticket.str.isnumeric()
# ticket = ticket[ticket==False]
# for i in ticket.keys():
#     l = data.Ticket[i].split(' ')
#     if len(l)==2:
#         data.Ticket[i] = l[1]
#     else:
#         data = data.drop(index=[i],axis=0)
# data.to_csv('train1.csv')


#####################################################for test data####################################################

data = pd.read_csv('test.csv')
data
data = data.drop(['Name','Cabin'],axis=1)
le = preprocessing.LabelEncoder()
le.fit(data.Sex)
data.Sex = le.transform(data.Sex)
data = data.fillna(data.mean())
data
embarked = pd.Series(data.Embarked)

# ind = embarked.keys()
# data = data.drop(index = ind, axis = 0)
dummies = pd.get_dummies(data.Embarked)
data = pd.concat([data,dummies],axis=1)

# #drop one of dummy var to avoid dummy trap
data = data.drop(['Embarked','C'],axis = 1)
data
ticket = pd.Series(data.Ticket)
ticket = ticket.str.isnumeric()
ticket = ticket[ticket==False]
for i in ticket.keys():
    l = data.Ticket[i].split(' ')
    if len(l)==2:
        data.Ticket[i] = l[1]
    else:
        data.Ticket[i]=0 
data
# data.to_csv('test1.csv')

/Users/fajilatunnahar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/fajilatunnahar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     PassengerId  Pclass  Sex       Age  SibSp  Parch   Ticket      Fare  Q  S
0            892       3    1  34.50000      0      0   330911    7.8292  1  0
1            893       3    0  47.00000      1      0   363272    7.0000  0  1
2            894       2    1  62.00000      0      0   240276    9.6875  1  0
3            895       3    1  27.00000      0      0   315154    8.6625  0  1
4            896       3    0  22.00000      1      1  3101298   12.2875  0  1
..           ...     ...  ...       ...    ...    ...      ...       ... .. ..
413         1305       3    1  30.27259      0      0     3236    8.0500  0  1
414         1306       1    0  39.00000      0      0    17758  108.9000  0  0
415         1307       3    1  38.50000      0      0  3101262    7.2500  0  1
416         1308       3    1  30.27259      0      0   359309    8.0500  0  1
417         1309       3    1  30.27259      1      1     2668   22.3583  0  0

[418 rows x 10 columns]