In [26]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import svm
train = pd.read_csv('train1.csv')
test = pd.read_csv('test1.csv')
scaler = preprocessing.StandardScaler()

label = train.Survived
train = train.drop(['Survived','Unnamed: 0'], axis=1)
trainKeys = train.keys()

train = pd.DataFrame(scaler.fit_transform(train))

test = test.drop(['Unnamed: 0'], axis=1)
testKeys = test.keys()
testKeys
cols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket','Fare', 'Q', 'S']
testConvert = test[cols]
testTmp = pd.DataFrame(scaler.fit_transform(testConvert))
testTmp.columns = testKeys
# clf = LogisticRegression(random_state=0).fit(train, label)
# # clf = svm.SVR().fit(train,label)
# pid = pd.DataFrame(test.PassengerId)
# test = test.drop(['PassengerId'],axis=1)

# predict =pd.DataFrame(clf.predict(test))

# p = pd.concat([pid,predict],axis = 1)
# p.columns = ['PassengerId', 'Survived']
# p
# p.to_csv('predictLRNormalized.csv')
# len(predict)
# label = data.Survived

     Pclass  Sex       Age  SibSp  Parch   Ticket      Fare  Q  S
0         3    1  34.50000      0      0   330911    7.8292  1  0
1         3    0  47.00000      1      0   363272    7.0000  0  1
2         2    1  62.00000      0      0   240276    9.6875  1  0
3         3    1  27.00000      0      0   315154    8.6625  0  1
4         3    0  22.00000      1      1  3101298   12.2875  0  1
..      ...  ...       ...    ...    ...      ...       ... .. ..
413       3    1  30.27259      0      0     3236    8.0500  0  1
414       1    0  39.00000      0      0    17758  108.9000  0  0
415       3    1  38.50000      0      0  3101262    7.2500  0  1
416       3    1  30.27259      0      0   359309    8.0500  0  1
417       3    1  30.27259      1      1     2668   22.3583  0  0

[418 rows x 9 columns]