In [108]:
import pandas as pd
from sklearn import preprocessing

data = pd.read_csv('train.csv')
data = data.drop(['PassengerId','Name','Cabin'],axis=1)
le = preprocessing.LabelEncoder()
le.fit(data.Sex)
data.Sex = le.transform(data.Sex)
label = data.Survived
age = pd.Series(data.Age)
isna = age.isna()
isna = isna[isna==True]
ind = isna.keys()
#drop data with nan age
data = data.drop(index = ind, axis = 0)
embarked = pd.Series(data.Embarked)
embarked = embarked.isna()
embarked = embarked[embarked==True]
ind = embarked.keys()
data = data.drop(index = ind, axis = 0)
dummies = pd.get_dummies(data.Embarked)

data = pd.concat([data,dummies],axis=1)
#drop one of dummy var to avoid dummy trap
data = data.drop(['Embarked','C'],axis = 1)
data
# ohe = preprocessing.OneHotEncoder()
# ohe.fit(pd.Series(data.Embarked))
# test = ohe.transform(data.Embarked)
# cabin = pd.Series(data.Cabin)
# isna = cabin.isna()
# isna = isna[isna==True]
# len(isna)
# data.keys()
# data['Embarked'].unique()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Q,S
0,0,3,1,22.0,1,0,A/5 21171,7.2500,0,1
1,1,1,0,38.0,1,0,PC 17599,71.2833,0,0
2,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,0,1
3,1,1,0,35.0,1,0,113803,53.1000,0,1
4,0,3,1,35.0,0,0,373450,8.0500,0,1
...,...,...,...,...,...,...,...,...,...,...
885,0,3,0,39.0,0,5,382652,29.1250,1,0
886,0,2,1,27.0,0,0,211536,13.0000,0,1
887,1,1,0,19.0,0,0,112053,30.0000,0,1
889,1,1,1,26.0,0,0,111369,30.0000,0,0
890,0,3,1,32.0,0,0,370376,7.7500,1,0